# Server
PORT=

# MongoDB
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

# JWT Tokens
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
JWT_SECRET=

# Frontend domain
APP_DOMAIN=
FRONTEND_ORIGIN=

# SMTP (Brevo)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=