PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
JWT_SECRET=
APP_DOMAIN=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
ENABLE_CLOUDINARY=true

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_PROJECT_ID=
GOOGLE_OAUTH_REDIRECT_URI=
GOOGLE_OAUTH_REDIRECT_URI_ALT=
GOOGLE_OAUTH_AUTH_URI=
GOOGLE_OAUTH_TOKEN_URI=
GOOGLE_OAUTH_CERT_URL=
